
/*@font-face {
    font-family: 'Lexend';
    src: url('../../public/fonts-siis/Lexend-Regular.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
   font-family: 'Roboto' !important;
    src: url('../../public/fonts-siis/Roboto-Regular.woff') format('truetype') !important;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../../public/fonts-siis/Roboto-Regular.woff') format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }