<div class="row">
    <button mat-fab class="classbutton">
        <mat-icon class="indicador" matSuffix>dvr</mat-icon>
    </button>
    <div>
        <strong>&nbsp;&nbsp;Medico en tu casa </strong>
        <p>&nbsp;&nbsp;Apartado para ver el historial del doctor</p>
    </div>
</div>

<mat-card class="global-card">
    <mat-card-header>
        <mat-card-title>
            <strong>Historial</strong>
                <div class="espaciado">
                    <p>Este es un parrafo de ejemplo</p>
                </div>
        </mat-card-title>
    </mat-card-header>
    

</mat-card>