<div class="row">
    <button mat-fab class="classbutton">
        <mat-icon class="indicador" matSuffix>pin drop</mat-icon>
    </button>
    <div>
        <strong>&nbsp;&nbsp;Medico en tu casa </strong>
        <p>&nbsp;&nbsp;Apartado para gestionar la ruta del doctor</p>
    </div>
</div>

<mat-card class="global-card">
    <mat-card-header>
        <mat-card-title>
            <strong>Ruta</strong>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="custom-container">
            <div class="custom-div first-div">
                <strong>1ra Sección</strong>
                <p>Contenido de la primera sección</p>
            </div>
            <div class="custom-div second-div">
                <strong>2da Sección</strong>
                <p>Contenido de la segunda sección</p>
            </div>
        </div>
        <div class="custom-container">
            <div class="custom-div third-div">
                <strong>3ra Sección</strong>
                <p>Contenido de la tercera sección</p>
            </div>
        </div>
    </mat-card-content>
    

</mat-card>