<div class="row">
    <button mat-fab class="classbutton">
        <mat-icon class="indicador" matSuffix>pin drop</mat-icon>
    </button>
    <div>
        <strong>&nbsp;&nbsp;Medico en tu casa V2 </strong>
        <p>&nbsp;&nbsp;Mapa de rutas del doctor</p>
    </div>
</div>

<mat-card class="global-card">
    <mat-card-header>
        <mat-card-title>
            <strong>TITULO (MAPA)</strong>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="custom-container">
            <div class="custom-div first-div">
                <strong>Sección</strong>
                <p>Contenido de esta seccion</p>
            </div>
        </div>
    </mat-card-content>
    

</mat-card>