



.actions-button {
    margin: 5px;
}


a {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-decoration: solid;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.h-button {
    background-color: rgb(3, 177, 75);
    // border-color: rgb(7, 92, 63);
    //border-bottom: 20px;
    border-radius: 19px;
    //background: rgb(2, 150, 142)(0, 162, 255);
    padding: 10px;
    width: 120px;
    text-align: center;
}

.h-button span {
    display: inline-block;
    min-width: 0.3em;
    text-transform: uppercase;
    transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
    opacity: 0;
    transform: translate(0, -20px);
}

.h-button:before {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    left: 0;
    transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
    text-transform: uppercase;
    letter-spacing: 3.5px;
    opacity: 1;
    transform: translate(0, 0px);
}

.h-button:hover:before,
.h-button:focus:before {
    opacity: 0;
    transform: translate(0, 20px);
}

.h-button:hover span,
.h-button:focus span {
    opacity: 1;
    transform: translate(0, 0);
}

.h-button:hover span:nth-child(1),
.h-button:focus span:nth-child(1) {
    transition-delay: 0.025s;
}

.h-button:hover span:nth-child(2),
.h-button:focus span:nth-child(2) {
    transition-delay: 0.05s;
}

.h-button:hover span:nth-child(3),
.h-button:focus span:nth-child(3) {
    transition-delay: 0.075s;
}

.h-button:hover span:nth-child(4),
.h-button:focus span:nth-child(4) {
    transition-delay: 0.1s;
}

.h-button:hover span:nth-child(5),
.h-button:focus span:nth-child(5) {
    transition-delay: 0.125s;
}

.h-button:hover span:nth-child(6),
.h-button:focus span:nth-child(6) {
    transition-delay: 0.15s;
}

.h-button:hover span:nth-child(7),
.h-button:focus span:nth-child(7) {
    transition-delay: 0.15s;
}

.h-button:hover span:nth-child(8),
.h-button:focus span:nth-child(8) {
    transition-delay: 0.15s;
}

td {
    //style="text-align: center;"
    text-align: center;
}


/////////////////////////////////////////////////////////////////
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }


  //////////////////////termometro///////////////////////


  .temperatura{
    width: 4px;
    margin: 0px auto;
    background: rgb(78, 78, 78);
    position: relative;
    bottom: 0px;
}
.temperatura-inv{
    width: 5px;
    margin: 0px auto;
    background: #ffffff00;
    position: relative;
    bottom: 0px;
}
.temperatura-container{
    background-color: #f5f5f5;
    background-image: url('../../../public/images/termometro.png');
    width: 20px;
    height: 120px;
    padding: 2px;
    border: 1px solid rgb(65, 65, 65);
    border-radius: 10px;
    margin: 20px 50px;
}
.container-signos-vitales{
    padding: 50px;
    background-color: #f5f5f5;
    margin: 20px;
}
.img-anim{
    margin: 0px auto;
    width: 100px;
    height: 200px;
    animation-name: anim;
    animation-duration: 1s;
}
.img-anim-2{
    margin: 0px auto;
    width: 100px;
    height: 200px;
    animation-name: anim;
    animation-duration: 2s;
}
@keyframes anim {
    0%{
      height: 200px;
      width: 90px;
    }
    25%{
        height: 195px;
        width: 92px;
    }
    50%{
        height: 200px;
        width: 95px;
    }
    75%{
        height: 205px;
        width: 102px;
    }
    100%{
        height: 200px;
        width: 100px;
    }
  }

  .button-container {
    position: fixed;
    bottom: 20px; /* Ajusta este valor según la distancia que desees del borde inferior */
    right: 20px; /* Ajusta este valor según la distancia que desees del borde derecho */
}











.hipotermia-severa {
    filter: brightness(0.8) sepia(0.7) hue-rotate(180deg) saturate(1.2); /* Azul suave */
  }
  
  .hipotermia-leve {
    filter: brightness(0.9) sepia(0.5) hue-rotate(170deg) saturate(1.1); /* Azul claro, más cercano a lo natural */
  }
  
  .normal {
    filter: none; /* Sin filtro para temperatura normal */
  }
  
  .febricula {
    filter: brightness(1.1) sepia(0.7) hue-rotate(30deg) saturate(1.1); /* Amarillo suave */
  }
  
  .fiebre-leve {
    filter: brightness(1.1) sepia(0.8) hue-rotate(20deg) saturate(1.2); /* Naranja claro, sutil */
  }
  
  .fiebre-moderada {
    filter: brightness(1.05) sepia(0.9) hue-rotate(10deg) saturate(1.3); /* Naranja más oscuro pero no demasiado fuerte */
  }
  
  .fiebre-alta {
    filter: brightness(1) sepia(0.9) hue-rotate(0deg) saturate(1.4); /* Rojo menos intenso */
  }
  
  .hiperpirexia {
    filter: brightness(0.95) sepia(0.9) hue-rotate(-10deg) saturate(1.5); /* Rojo oscuro más atenuado */
  }


